{% extends 'base.html' %}

{% block content %}
<script>
  var YOUR_CLIENT_ID = '7559994281-ql07auiv4bftm2lvir9gh28mt9rsh7j8.apps.googleusercontent.com';
  var YOUR_REDIRECT_URI = 'http://localhost:5500';

  // Инициализация клиентской библиотеки Google API
  function startGoogleApi() {
    gapi.load('auth2', function() {
      gapi.auth2.init({
        client_id: YOUR_CLIENT_ID,
        scope: 'email'
      }).then(function(auth2) {
        console.log('Google Auth2 initialized.');
      }, function(error) {
        console.error('Error initializing Google Auth2:', error);
      });
    });
  }
</script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-signin-scope" content="profile email" />
    <meta name="google-signin-client_id" content="{{ YOUR_CLIENT_ID }}" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="shortcut icon" href="#" />
</head>
<body>
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log("ID: " + profile.getId());

            var id_token = googleUser.getAuthResponse().id_token;
            console.log("ID Token: " + id_token);
        }
        startGoogleApi(); // Запуск инициализации Google API при загрузке страницы
    </script>
</body>
</html>
{% endblock %}
